body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../src/soil-bg-tile.png) center center;
    font-family: 'Courier New', Courier, monospace;
    color: #dfdfdf;
    position: relative;
}

#container {
    width: 75%;
    min-height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    overscroll-behavior-y: none;

    background-color: rgba(58, 42, 33, 0.6);
    border-left: 4px solid var(--dark-brown);
    border-right: 4px solid var(--dark-brown);
}

/* Content */
#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

#content img {
    /* align-self: center; */
    width: 25%;
    margin: 1rem 0;
}

#content p {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

#content a {
    color: inherit;
}

#content a:hover {
    color: white;
}

#cv h3 {
    margin: 0;
}

#cv p {
    margin: 1rem 0;
}

#cv ul {
    list-style-type: square;
}

#cv ul li {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

/* Back button */
#back {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    color: #afafaf;
    text-decoration: none;
}

#back:hover {
    color: white;
    text-decoration: underline;
}

#back-small-screen {
    display: none;
}

/* Music control */
#play-pause {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border: none;
    background: none;
}

#play-pause:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 960px) {
    #container {
        width: 100%;
        border: none;
        padding: 1rem;
    }

    #back {
        display: none;
    }

    #back-small-screen {
        display: block;
    }

    #content img {
        margin: 2rem 0;
        width: 40%;
    }

    #cv h1 {
        line-height: 1;
    }
}